{% extends "base_user_account.html" %}

{% load bootstrap %}

{% block content %}



<form method="post" action="{% url 'password_change' %}">
    {% csrf_token %}

    <div class="login-form">      
                  
        
        {{ form | bootstrap }} 

        <input type="submit" value="camnbiar" class="btn btn-success float-right">
      
        
        
    </div>

</form>
{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Lost password?</a></p>

{% endblock %}